.navbar:after {
  display: block;
  clear: both;
  content: ''; }

.banner-textbox {
  color: white;
  height: 75%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px) !important; }

body,
html {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  color: black; }

main {
  transition: all 0.25s; }
  main.dim {
    transition: 0.5s; }
  main.dim::before {
    background: rgba(0, 0, 0, 0.8);
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

a {
  color: inherit;
  text-decoration: none;
  transition: 1s all; }

.navbar {
  width: 100%;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar .name {
    flex: 1;
    font-size: 2em;
    padding-left: 5%;
    float: left; }
  .navbar span.menu {
    font-size: 1em;
    margin-right: 5em; }
    .navbar span.menu a {
      padding-right: 1em;
      color: rgba(0, 0, 0, 0.5); }
      .navbar span.menu a:hover {
        color: black; }

section.page {
  height: 100vh;
  width: 100vw; }

.banner {
  height: calc(100vh - 6em);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

#main-page-banner {
  background: url("../assets/img/shanghai.jpg") no-repeat;
  background-size: cover; }

.banner-textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .banner-textbox h1,
  .banner-textbox h2,
  .banner-textbox p {
    padding-left: 5%; }
  .banner-textbox h1 {
    font-size: 2em; }
  .banner-textbox h2 {
    font-size: 1.5em; }
  .banner-textbox p {
    font-size: 1.2em; }
  .banner-textbox .banner-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    transition: all 1s ease-in-out; }
  .banner-textbox .grow {
    opacity: 1.0;
    padding: none;
    transform: translateY(-250%) scale(3); }
  .banner-textbox a {
    font-size: 1.5em;
    padding: 0 12px; }
    .banner-textbox a:hover {
      text-shadow: 0 0 0.2em, 0 0 0.3em; }

#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  transition: 0.5s all; }
  #projects figcaption {
    text-align: center;
    font-size: 1.3em; }
  #projects .project-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 7; }
  #projects.modal-dim::before {
    background: rgba(0, 0, 0, 0.65);
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; }

.project-image {
  height: 125px;
  width: 200px;
  border-radius: 2% / 4%;
  box-shadow: 0 0 5px black;
  margin: 2em;
  transition: 1s filter, 1s -webkit-filter;
  -webkit-filter: sepia(1);
  filter: sepia(1); }
  .project-image:hover {
    -webkit-filter: none;
    filter: none; }

.footer {
  width: 100vw;
  background: linear-gradient(#222, #444);
  color: white; }
  .footer p {
    text-align: center; }
  .footer a:hover {
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5), 0 0 0.3em rgba(255, 255, 255, 0.5); }

#project-modal {
  position: fixed;
  top: calc(50% - 540px / 2);
  height: 540px;
  width: 925px;
  margin: 0 calc(50% - 925px / 2);
  color: black;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 100; }
  #project-modal .project-modal-header {
    width: 100%;
    height: 15%;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center; }
    #project-modal .project-modal-header h3 {
      width: 90%;
      text-align: center;
      margin: 0; }
    #project-modal .project-modal-header span {
      font-size: 1em; }
  #project-modal .project-modal-body {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    #project-modal .project-modal-body .modal-image-box {
      height: 100%;
      flex: 0 0 calc(925px / 2);
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center; }
      #project-modal .project-modal-body .modal-image-box .modal-image {
        width: 400px;
        height: 233px;
        overflow: hidden; }
    #project-modal .project-modal-body .project-modal-content {
      height: 100%;
      padding: 0 1.5em;
      font-size: 1.1em;
      flex: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap; }
      #project-modal .project-modal-body .project-modal-content div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around; }
        #project-modal .project-modal-body .project-modal-content div p {
          padding: 5%;
          text-align: center; }
    #project-modal .project-modal-body a:hover {
      text-shadow: 0 0 0.5em #b3b3b3; }

@supports (-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px)) {
  .background-blur {
    -webkit-backdrop-filter: blur(15px) brightness(2);
    backdrop-filter: blur(15px); } }

@supports (not (backdrop-filter: blur(15px))) and (background: -moz-element(#body)) {
  .background-blur::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -moz-element(#body) fixed !important;
    -webkit-filter: blur(15px);
    filter: blur(15px); } }

@supports (not (-webkit-backdrop-filter: blur(15px))) and (not (background: -moz-element(#body))) {
  .background-blur {
    background: white !important; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .navbar {
    height: 10em; }
  .banner {
    height: calc(100vh - 30em); } }
