@mixin modal($width, $height) {
  position: fixed;
  top: calc(50% - #{$height} / 2);
  height: $height;
  width: $width;
  margin: 0 calc(50% - #{$width} / 2 );
  color: white;
  background: rgba(0,0,0,0.6);
  box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.6);
}
