@import 'modal';


//----- Constants

$borderColor: #b3afa4;
$navbarHeight: 6em;
$bannerHeight: calc(100vh - 12em );
$modalWidth: 925px;
$modalHeight: 540px;



//----- Extends
%clearfix:after {
    display:block;
    clear:both;
    content:'';
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}


.navbar {
  @extend %clearfix;
  width: 100%;
  height: $navbarHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .name {
    flex: 1;
    font-size: 2em;
    padding-left: 5%;
    float: left;
  }
  & span.menu {
    font-size: 1em;
    margin-right: 5em;
    & a {
      padding-right: 1em;
      text-decoration: none;
      color: inherit;
      transition: 1s;
      &:hover {
        text-shadow: 0 0 .2em silver, 0 0 .5em silver;
      }
    }
  }
}

section.page {
  height: 100vh;
  width: 100vw;
}

.banner {
  height: $bannerHeight;
  background: linear-gradient(90deg, blue, transparent 99%);
}

#projects {
  background: rgba(150,150,150,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  & figcaption {
    text-align: center;
    font-size: 1.3em;
  }
}


.project-image {
  height: 125px;
  width: 200px;
  border-radius: 2% / 4%;
  box-shadow: 0 0 5px black;
  margin: 2em;
  transition: 1s filter, 1s -webkit-filter;
	-webkit-filter: sepia();
	filter: sepia();
  &:hover {
    -webkit-filter: none;
    filter: none;
  }
}

.footer {
  width: 100vw;
  height: 25vh;
  background: black;
}

#project-modal {
  @include modal($modalWidth, $modalHeight);
  display: none;
  & .project-modal-header {
    width: 100%;
    height: 15%;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    & h3 {
      width: 90%;
      text-align: center;
      margin: 0;
    }
    & span {

      font-size: 1em;
    }
  }

  & .project-modal-body {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & .modal-image-box {
      height: 100%;
      flex: 0 0 calc(#{$modalWidth} / 2);
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      & .modal-image {
        width: 400px;
        height: 233px;
        overflow: hidden;
      }

    }
    & .project-modal-content {
      height: 100%;
      padding: 0 1.5em;
      font-size: 1.1em;
      flex: auto;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      & div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        & p {
          padding: 5%;
          text-align: center;
          & a {
            text-decoration: none;
            color: white;
            transition: 1s;
            &:hover {
              text-shadow: 0 0 0.1em, 0 0 0.5em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
and (orientation : portrait) {
  .navbar {
    height: 10em;
  }
  .banner {
    height: calc(100vh - 30em);
  }
}
